.Nossa-Missão{
    background-image:url(img/backgroud.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabeçalho > h1{
    font-size: 4vw;
}
.cabeçalho{
    color: #2E4E9D;
    display: flex;
    justify-content: center;
}

/* ---------------//--------------- */

.Nossa-Missão{
    display: flex;
    justify-content: center;
}


.im1{
    max-width: 500px;
}
.nm-imagem-1{
    max-width: 500px;
    border: 1px solid white;
}

.im2{
    max-width: 500px;
}
.nm-imagem-2{
    max-width: 500px;
    border: 1px solid white;
}

.im3{
    max-width: 500px;
}
.nm-imagem-3{
    max-width: 500px;
    border: 1px solid white;
}

.im4{
    max-width: 500px;
}
.nm-imagem-4{
    max-width: 500px;
    border: 1px solid white;
}  

/* ---------------//------------------------------//--------------- */

.Novo-Paciente{
    background-image:url(img/image\ testimonials.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.NP-cabeçalho{
  display: flex;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-top: -45px;
}

.NP-paragrafo{
    color: #fff;
    display: flex;
    font-size: 2vw;
    justify-content: center;
    text-align: center;
}

/* ---------------//--------------- */

.upicon{
    display: flex;
    justify-content: center;
    align-content: center;
}

.boticon{
    display: flex;
    justify-content: center;
    align-content: center;
}

    
.icon1 > img {
position:static;
}
  .icon1 > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
  .icon1:hover > img:last-of-type {
    opacity: 0;
}   

.icon2 > img {
position:static;
}
  .icon2 > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
  .icon2:hover > img:last-of-type {
    opacity: 0;
}   

.icon3 > img {
position:static;
}
  .icon3 > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
  .icon3:hover > img:last-of-type {
    opacity: 0;
}   

.icon4 > img {
position:static;
}
  .icon4 > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
  .icon4:hover > img:last-of-type {
    opacity: 0;
} 

.icon5 > img {
position:static;
}
  .icon5 > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
  .icon5:hover > img:last-of-type {
    opacity: 0;
}   

.icon6 > img {
position:static;
}
  .icon6 > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
  .icon6:hover > img:last-of-type {
    opacity: 0;
}   


/* ---------------//--------------- */


@media screen and (max-width: 800px) {
  .cabeçalho{
    justify-content: center;
    align-items: center;
    margin-left: 15vh;
  }
}









































































/* comi o cuzin de quem ta lendo */